div
  .form-group.has-tips.manual(ld="base error-root",plug="widget")
    div(ld="display", data-display="block"): label.d-flex.align-items-end.flex-wrap
      div
        span(ld="label")
        span.text-danger.ml-2(ld="is-required") *
      .flex-grow-1
      .m-edit: .mf-note.text-sm(ld="limitation")
    .text-sm.text-muted(ld="display", data-display="block"): div(ld="desc", style="margin:-.6em 0 .7em")

    .d-flex.flex-column.g-4.mb-2
      div(ld-each="document")
        .border.rounded-sm.shadow-sm(style="min-height:300px")
          div(ld="link")
          object.d-none.w-100.h-100.flex-grow-1(style="vertical-align:top;min-height:300px",
          ld="link",data="about:blank",type="application/pdf")
            embed.w-100.border(ld="link",src="about:blank",type="application/pdf")
          .w-100.p-2(ld="for-html")
            iframe.d-none.w-100.flex-grow-1.border-0(title="consent-document",ld="link",src="about:blank")
        .text-right(style="margin-top:.1em")
          a.text-sm(ld="link",target="_blank",rel="noopener noreferer")
            span.mr-1(ld="open")
            i.i-new-page.text-sm

    .m-edit(ld="input"): .d-flex
      label.mr-2.mb-2.clickable.position-relative
        input.mr-1(ld="checkbox",type="checkbox")
        span.no-select(ld="text")
        .hover-tip.tip-sm: div(ld-each="error")
      div(ld="display", data-display="inline"): span.text-danger.ml-2(ld="is-required") *
    .m-view
      input.mr-1(ld="checkbox-for-view",type="checkbox",disabled,readonly)
      span(ld="text")
    .m-edit(ld="display",data-display="block"): .mf-note.text-sm.mt-2.note(ld-each="note")
  script(type="@plotdb/block"): include:lsc index.ls
